.schedule-container {
	width:180px;
}

.empty-message{
	height:16px;
    border:1px solid transparent;
    margin:10px 0 5px 0;
    padding:5px 5px 5px 30px
}

#visit-list input.schedule {
	border: none;
	display: block;
	background:transparent;
	width:105px;
	margin:0px;
	padding:0px;
	height:20px;
	float:left;

	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
	color:#00456B;
}

#visit-list a.save, #visit-list a.delete {
	margin-bottom:0px;
	display: block;
	cursor: pointer;
	float:left;
}

#visit-list a.save {
	height:20px;
	width: 20px;
	margin-right:20px;
	background: url(../images/save.png) center left no-repeat;
}

#visit-list a.delete {
	margin-top:2px;
	height:16px;
	width:16px;	
	background: url(../images/delete.png) center left no-repeat;
}